<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<% include header.ejs %>
<% include base_style.ejs%>
<div>
    Добро пожаловать в Оперо!
</div>


<form action="/Opero" method="post">
    <table id="Opero" class="table">
        <colgroup>
            <col style="background:#bec2d4;">
        </colgroup>
        <tbody>
            <% console.log(first_table_body); %>
            <% var length_line = Object.keys(first_table_body).length / 3; %>
            <% var iteration = Object.keys(first_table_body).length / length_line; %>
            <% var count = length_line; %>
            <% var item = 2; %>
            <% var names_columns = ['Даты', 'Количество клиентов, которые ждали ответ больше 5 минут', 'Потолок']; %>
            
            <tr><td>Даты</td>
                <% for (var key in first_table_body) { %>
                    <% if (count === 0) {
                        count = length_line; %>
                        </tr>
                        <tr>
                            <td>
                                <%= names_columns[iteration - item]; %>
                                <% item = item - 1; %>
                            </td>
                    <% } %>
                    <td>
                        <% console.log(first_table_body[key]); %>
                        <input type="text" class="input_base" name= <%= key %> value=<%=first_table_body[key] %> ></td>
                        <% count = count - 1; %>
                <% } %>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" class="button_circle" value="Сохранить таблицу">
</form>
<br>
<form>
    <input type="button" class="button_circle"  value="Добавить столбец" onclick="correction('Opero_first_table')">
</form>




<form action="/Opero" method="post">
    <table id="Opero" class="table">
        <colgroup>
            <col style="background:#bec2d4;">
        </colgroup>
        <tbody>
            <% console.log(second_table_body); %>
            <% var length_line = Object.keys(second_table_body).length / 4; %>
            <% var iteration = Object.keys(second_table_body).length / length_line; %>
            <% var count = length_line; %>
            <% var item = 3; %>
            <% var names_columns = ['Даты', 'Среднее время ответа в чате', 'Потолок', 'Количество клиентов']; %>
            
            <tr><td>Даты</td>
                <% for (var key in second_table_body) { %>
                    <% if (count === 0) {
                        count = length_line; %>
                        </tr>
                        <tr>
                            <td>
                                <%= names_columns[iteration - item]; %>
                                <% item = item - 1; %>
                            </td>
                    <% } %>
                    <td>
                        <% console.log(second_table_body[key]); %>
                        <input type="text" class="input_base" name= <%= key %> value=<%=second_table_body[key] %> ></td>
                        <% count = count - 1; %>
                <% } %>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" class="button_circle" value="Сохранить таблицу">
</form>
<br>
<form>
    <input type="button" class="button_circle"  value="Добавить столбец" onclick="correction('Opero_second_table')">
</form>


<% include adding_function.ejs %>
</body>
</html>